html {
    background:#66FF66;
}
.c1 {
    width: 100%;
    display: inline-block;
    border: 5px solid #003300;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    clear: left;
}

.graph {
    display: inline-block;
}


header {
    color: black;
    text-align: center;
    font-family: fantasy;
    font-size: 50pt;
    padding-bottom: 50px;
}

.txt {
    padding-bottom: 20px;
    float: left;
    text-align: left;
    clear: right;
    font-size: 26px;
    font-family: sans-serif;
}